body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
h1 {
  color: red;
  display: block;

  font-size: 24px;
  line-height: 28.8px;
  height: 27.8 px;
  text-align: left;
}
